@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Raleway:ital,wght@0,400;1,300&family=Staatliches&display=swap");

/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: "Raleway", "Open Sans", "Helvetica Neue", "Segoe UI", Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
}

body {
  background: linear-gradient(#36535c, #0d1c16);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  color: #fefefe;
  overflow-y: scroll;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 200px;
}

h1 {
  font-size: 3em;
  text-align: center;
}

/**
 * Navigation Bar Elements
 */
.barsicon {
  background-color: #0d1c16;
  border: none;
  color: #fefefe;
}

.nav-bar {
  background-color: #0d1c16;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 25px 25px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav-bar h1 {
  font-family: "Lobster Two", cursive;
  font-size: 4em;
}

.nav-bar div {
  align-items: flex-end;
  margin-left: auto;
}

.inline {
  display: inline-block;
  margin-left: 25px;
}

.center {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}

/**
 * Side Menu Elements
 */

.side-menu {
  background-color: rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 100%;
  margin-top: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.side-menu a {
  padding: 25px;
  font-size: 2.5em;
  text-align: center;
  display: block;
  color: aliceblue;
  transition: 0.3s;
}

.side-menu a:hover {
  background-color: #87c6af;
  color: #0d1c16;
}

/* Bookmarks */
.bookmark-frame {
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-gap: 20px 10px;
  margin-top: 40px;
}


.bookmark-container {
  background-color: #36535c;
  display: inline-block;
  height: 195px;
  width: 375px;
  margin-left: 3.5em;
  text-align: start;
}


.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;

}

.SettingsButton {
  padding: 10px;
  float: right;
  margin-right: 3em;
}

.FavoritesButton {
  padding: 10px;
  float: left;
  margin-left: 3em;
}

.movie-img {
  background-color: #87c6af;
  max-width: 35%;
  width: 35%;
  float: left;
  object-fit: cover;
}

.movie-info-link {
  width: 36%;
  float: left;
  padding-left: 10px;
  padding-top: 10px;
  word-wrap: break-word;
  color: lightgray;
}

.movie-info-link:hover {
  color: white;
}

.movieSearchTitle {
  color: lightgray;
  font-size: 20px;
  max-inline-size: 150px;
}

.movieSearchTitle:hover {
  color: white;
}

.icon-container {
  padding-top: 10px;
  padding-right: 5px;
  float: right;
  width: auto;
}

/* Index.hbs css properties */
/* grid for holding movies */
.movie-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 50px 50px;
  padding: 20px 75px;
  height: 100vh;
  width: 100vw;
  margin-bottom: 50px;
}

/* styling for movie poster discover tile. */

.discover-tile {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 150px;
  height: 250px;
}

.discover-tile img {
  width: 150px;
  height: 250px;
}

.heart.icon {
  padding-left: 4px;
}

.bookmark.icon {
  padding-left: 4px;
}

.overlay {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  transform: translate(1%, -110%);
  text-align: center;
}

.page-button-holder {
  grid-column: 1 / span 5;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.page-number {
  margin: 0 40px;
  font-size: 2em;
}


/*commented by eddie to resolve issue*/
/* ui.button.border-less {
  padding: 0;
  border: none;
  background: none; */

.borderless {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #fefefe;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3em;
  width: 250px;
  margin-top: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.borderless:hover {
  background-color: teal;
  background-repeat: no-repeat;
  border: #fefefe;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #fefefe;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3em;
  width: 250px;
}


.content-container {
  margin-top: 100px;
}
