
<div class="discover-tile">
  <img
    alt="Movie Poster for {{@title}}"
    ...attributes

    src="http://image.tmdb.org/t/p/w185{{@poster}}"
    width="75px" 
    height="150px"
  >
  {{yield}}
</div>