<style>
  #myDIV {
    display: none;
  }

  .ui.icon.button {
    height: 5.4ex;

  }
</style>
<div class="nav-bar">
  <button onclick="myFunction()" type="button" class=" barsicon">
    <i class=" huge bars icon inline"></i>
  </button>
  <img class="inline" height="75px" src="/assets/images/spuds.png" alt="Couch Potato" />

  <h1 class="inline">Couch Potato</h1>
  <div id="myDIV">
    <div class="side-menu">

      <LinkTo @route="index">Discover</LinkTo>
      <LinkTo @route="bookmarks">Bookmarks</LinkTo>
      <LinkTo @route="sign-in">My Account</LinkTo>
    </div>
  </div>
  <div>

    <div class="ui action input" id="box">

      <input type="text" id="myInput" placeholder="Search for movies...." title="Type in a movie" value="">
      <LinkTo @route="search">
        <button class="ui icon button" type="submit" id="myBtn" onclick="myFunction1()">
          <i class="search icon"></i>
        </button>
      </LinkTo>

    </div>

  </div>
  <script>
    function myFunction() {
      var x = document.getElementById("myDIV");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }

    var input = document.getElementById("myInput");
    input.addEventListener("keyup", function (event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("myBtn").click();
      }
    });


  </script>
  {{yield}}
</div>